$white: white;
$black: black;
$green: #75dab4;
$darkGreen: #238636;
$silver: #777;
$lightSilver: rgb(240, 229, 229);

$red: #d10f0f;
$purple: #8250df;
$blue: #0079bf;


$darkBlue: #0B2C3D;
$lightBlue: #005a88;

$orange: #ff5a3c;
$darkOrange: #fb412a;
